
<div class="ui container">
  <br>
  <form class="" action="customsearch" method="post">
    <div class="ui two column grid">
      <div class="column" id="DividedBlock1">

        <div class="ui field">
          <label for="column1"> view parameter </label>
        </div>
        <div class="ui two column grid" id="column1">
          <div class="column" id="c1Internalcolumn1">
            <div class="ui multiple dropdown button"  id="BasicDropdown">
              <input name="Basic" type="hidden">
              <i class="filter icon"></i>
              <span class="text">Basic choose</span>
              <div class="menu">
                <div class="item" data-value="_id">All</div>
                <div class="item" data-value="basic.name">Name</div>
                <div class="item" data-value="basic.category">Category</div>
                <div class="item" data-value="basic.course">Course</div>
                <div class="item" data-value="cur_sem">Semester</div>
                <div class="item" data-value="basic.mode_of_adm">Mode of admission</div>
                <div class="item" data-value="basic.add_p">Address</div>
                <div class="item" data-value="basic.email">Email</div>
                <div class="item" data-value="basic.mob_no">Mob No</div>
                <div class="item" data-value="basic.gender">Gender</div>
                <div class="item" data-value="basic.dob">Date of Birth</div>
                <div class="item" data-value="basic.age">age</div>
                <div class="item" data-value="basic.twf">TWF/NTWF</div>
              </div> <!--menu -->
            </div><!-- BasicDropdown -->
          </div><!-- c1Internalcolumn1 -->
          <div class="column" id="c1Internalcolumn2">
            <div class="ui multiple dropdown button"  id="OtherDropdown">
              <input name="Details" type="hidden" >
              <i class="filter icon"></i>
              <span class="text">Data</span>
              <div class="menu">
                <div class="item" data-value="s_1.Term_fee">Term Fee</div>
                <div class="item">Exam Fee
                  <div class="menu">
                    <div class="item" data-value="s_1.Exam_fee_Reg">Reguler</div>
                    <div class="item" data-value="s_1.Exam_fee_Rem">Remedial</div>
                  </div>
                </div>
              </div><!-- menu -->
            </div><!-- OtherDropdown -->
          </div><!-- c1Internalcolumn2 -->
        </div><!-- column1 -->
      </div><!-- divided block 1 -->
      <div class="column" id="dividedBlock2">
        <div class="ui field">
          <label for="column2"> Query Parameter </label>
        </div>
        <div class="ui two column grid" id="column2">
          <div class="column" id="c2Internalcolumn1">
            <div class="ui multiple dropdown button"  id="QueryDropdown">
              <input name="Basic" type="hidden">
              <i class="filter icon"></i>
              <span class="text">Basic choose</span>
              <div class="menu">
                <div class="item">Category
                  <div class="menu">
                    <div class="item" data-value="basic.category/Genral">Genral</div>
                    <div class="item" data-value="basic.category/OBS">OBS</div>
                    <div class="item" data-value="basic.category/SC">SC</div>
                    <div class="item" data-value="basic.category/ST">ST</div>
                  </div>
                </div>
                <div class="item">Course
                  <div class="menu">
                    <div class="item" data-value"basic.course/BE">B.E</div>
                    <div class="item" data-value"basic.course/ME">M.E</div>
                  </div>
                </div>
                <div class="item" >Semester
                  <div class="menu">
                    <div class="item" data-value="s_1">1 </div>
                    <div class="item" data-value="s_2">2</div>
                    <div class="item" data-value="s_3">3 </div>
                    <div class="item" data-value="s_4">4 </div>
                    <div class="item" data-value="s_5">5 </div>
                    <div class="item" data-value="s_6">6 </div>
                    <div class="item" data-value="s_7">7 </div>
                    <div class="item" data-value="s_8">8 </div>
                  </div>

                </div>
                <div class="item" data-value="basic.mode_of_adm">Mode of admission</div>
                <div class="item" data-value="basic.twf">TWF/NTWF</div>
              </div> <!--menu -->
            </div><!-- BasicDropdown -->
          </div><!-- c2Internalcolumn1 -->
          <div class="column" id="c2Internalcolumn2">
                    <!-- query -->
          </div><!-- c2Internalcolumn2 -->

        </div><!--column2 -->
      </div><!-- divide block 2 -->
    </div><!-- two cloumn grid -->

    <div class="ui grid">
    <div class="two wide column">
      <input type="submit" name="Fiilter" value="Filter">
    </div>

  </div><!-- UIgrid -->
</form>
</div>



<script type="text/javascript">
$('#BasicDropdown').dropdown({ on: 'hover'});
$('#OtherDropdown').dropdown({ on: 'hover'});
$('#QueryDropdown').dropdown({ on: 'hover'});
</script>
