<%
if(currentUser.role=="user"){
  %>
  <% include ./user/partials/header %>
<%}
else if(currentUser.role=="admin"){
  %>
  <% include ./admin/partials/header %>
<%}else if(currentUser.role=="student"){
  %>
  <% include ./student/partials/header %>
<%}%>
<br>
<div class="ui container">


    <div class="ui error message">
      <i class="close icon"></i>
      <div class="header">
        The following enrollment/s is/are incorrect:
      </div>
      <ul class="list">
        <%    errorList.forEach(elem => {           %>
        <li> <%=elem %> </li>
        <%    });  %>
      </ul>
    </div>


</div>
<% include ./partials/footer %>
